<Configuration status="WARN" name="map-service-proxy">
    <Properties>
        <Property name="LOG">./logs</Property>
        <Property name="LOG_FILENAME">map-services-proxy</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %5p --- %c : %m%n%xwEx</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"></PatternLayout >
        </Console>
        <RollingFile name="FileAppender" filePattern="${LOG}/${LOG_FILENAME}-%d{yyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"></PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"></TimeBasedTriggeringPolicy>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="gov.usdot.cv" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender"></AppenderRef>
            <AppenderRef ref="FileAppender"></AppenderRef>
        </Logger>
        <Root level="info">
            <AppenderRef ref = "ConsoleAppender"></AppenderRef>
            <AppenderRef ref="FileAppender"></AppenderRef>
        </Root>
    </Loggers>
</Configuration>