<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2024 LEIDOS.
    
    Licensed under the Apache License, Version 2.0 (the "License"); you may not
    use this file except in compliance with the License. You may obtain a copy of
    the License at
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
    License for the specific language governing permissions and limitations under
    the License.
-->
<Configuration status="DEBUG">
    <!-- Define the appenders -->
    <Appenders>
        <!-- Console Appender -->
         <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %5p %c{1}:%L - %m%n"/>
        </Console>
        <!-- RollingFile Appender -->
        <RollingFile name="RollingFileAppender" fileName="logs/tim.log" filePattern="logs/$${date:yyyy-MM}/tim-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>
    </Appenders>
    <!-- Define the loggers -->
    <Loggers>
         <!-- Root Logger -->
        <Root level="debug">
            <AppenderRef ref="RollingFileAppender" />
        </Root>
    </Loggers>
</Configuration>